.jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
  }





#Date
{
width:300px;

}

#Room_No
{


width:300px;
margin-left:842px;
margin-top:-50px;

}

#Branch
{

width:300px;
}

#Year
{

width:300px;
margin-left:842px;
margin-top:-50px;
}
#Sub_Name
{
width:150px;

}
#Sem
{
width:150px;
margin-left:842px;
margin-top:-50px;
}
#Section
{
width:150px;
margin-left:400px;
margin-top:-64px;

}
body
{
background-color: ;

}
hr
{
border-width: 2px;
border-color:black;

}
#m001
{

width:300px;
margin-left:840px;
margin-top:-42px;

}

#m002
{

width:300px;
margin-left:840px;
margin-top:-48px;

}

#m003
{

width:300px;
margin-left:840px;
margin-top:-48px;

}
#m004
{

width:300px;
margin-left:840px;
margin-top:-48px;

}

#m005
{

width:300px;
margin-left:840px;
margin-top:-40px;

}
#m006
{

width:300px;
margin-left:840px;
margin-top:-40px;

}
#m007
{

width:300px;
margin-left:840px;
margin-top:-40px;

}
#m008
{

width:300px;
margin-left:840px;
margin-top:-40px;

}
#m009
{

width:300px;
margin-left:840px;
margin-top:-40px;

}
#m0010
{

width:300px;
margin-left:840px;
margin-top:-40px;

}




#office1
{

width:300px;
margin-left:840px;
margin-top:-48px;


}
#office2
{

width:300px;
margin-left:840px;
margin-top:-48px;


}